# DataRoot University DS100 Test #2
На проходження тесту виділяється 100 і одна хвилина.

## Python

### 1.  Реалізуйте функцію для видалення дублікатів зі списку списків:
У відповідь вивести результат роботи ф-ції для наступного списку:
```
[[10, 20], [40], [30, 56, 25], [10, 20], [33], [40], [42], [10, 42], [42]]
```


```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 5хв
```

In [1]:
def delete(raw_list):
    result = []
    for index in range(len(raw_list)):
        if raw_list[index] not in result:
           result.append(raw_list[index]) 
    return result

delete([[10, 20], [40], [30, 56, 25], [10, 20], [33], [40], [42], [10, 42], [42]])

[[10, 20], [40], [30, 56, 25], [33], [42], [10, 42]]

### 2.  Реалізуйте функцію str -> dict, таку, що ключем dict є символ строки, а значенням - його кількість в початковій str:
У відповідь вивести результат роботи ф-ції для наступної строки:
```"DataRoot University DS100 Test #2"```

```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 5хв
```

In [2]:
def char_to_dict(input_str):
    result = {}
    input_str = input_str.lower()
    for char in input_str:
        if char not in result:
            result[char] = 1
        else:
            result[char] += 1
    return result

char_to_dict("DataRoot University DS100 Test #2")

{' ': 4,
 '#': 1,
 '0': 2,
 '1': 1,
 '2': 1,
 'a': 2,
 'd': 2,
 'e': 2,
 'i': 2,
 'n': 1,
 'o': 2,
 'r': 2,
 's': 3,
 't': 5,
 'u': 1,
 'v': 1,
 'y': 1}

### 3. Реалізуйте функцію, яка приймає два параметри: к-сть голів та к-сть ніг. За допомогою цієї функції вирішити наступну проблему: ми нарахували 35 голів та 94 ніг серед курей та кроликів на фермі. Скільки кроликів і скільки курей ми маємо?

```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 7хв
```

In [5]:
def rabits_chicken(heads_n, legs_n):
    rabits = int((legs_n - 2*heads_n)/2)
    chikens = heads_n - rabits
    return {"rabbits" : rabits, "chickens": chikens}

rabits_chicken(35, 94)

{'chickens': 23, 'rabbits': 12}

### 4. Реалізуйте клас під назвою Circle, побудований за радіусом та містить два способи, які обчислюють площу та периметр.

```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 5хв
```

In [8]:
import math

class Circle:
    def __init__(self, r):
        self.r = r
    
    def square(self):
        return math.pi * self.r**2
    
    def perimeter(self):
        return 2 * math.pi*self.r
    
cir1 = Circle(2)
print(cir1.square())
print(cir1.perimeter())

12.566370614359172
12.566370614359172

### 5.  Реалізуйте декоратор, який логує аргументи функцій та повернене значення кожного виклику. Необхідно виводити як позиційні(```*args```), так й іменовані аргументи(```**kwargs```):

Приклад застосування вашого декоратору в результаті:
```
>>> @log
... def func(*args):
...   return len(args)
>>> func(4, 4, 4)
you called func(4, 4, 4)
it returned 3
3
```

```
```
```
```
```
```
```
Максимальна оцінка: 4 бали
Рекомендований час: 15хв
```

In [17]:
def log(func):
    def get_params_list(*args, **kwargs):
        result = "("
        for pos_args in args:
            result += str(pos_args) + ", "
        for key, value in kwargs.items():
            result += key + "=" + str(value) + ", "
        result = result.rstrip(", ") + ")"
        return result
    
    def decoration(*args, **kwargs):
        print("You called " + func.__name__ + get_params_list(*args, **kwargs))
        result = func(*args, **kwargs)
        print("It returned " + str(result))
        return result
    return decoration

@log
def my_func(a, b, c=0):
    return a + b + c

my_func(1,b=2, c=3 )

You called my_func(1, b=2, c=3)
It returned 6

6

## Libraries: numpy, scipy, pandas, matplotlib

### Numpy

### 6. Розв'яжіть систему рівнянь:


\begin{equation*}
 \begin{cases}
   x + y - z + 2 = 0
   \\
   3x - y + 2z - 9 = 0
   \\
   4x + 4y - 3z + 5 = 0
 \end{cases}
\end{equation*}

```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 5хв
```

In [22]:
import numpy as np
import numpy.linalg as la

A = np.array([[1, 1, -1],
              [3, -1, 2],
              [4, 4, -3]])
b = np.array([-2, 9, -5])
result = la.solve(A,b)
print(result)

[ 1. -0.  3.]

### 7. Дана матриця:
\begin{align}
A = \begin{bmatrix}
    17 & 24 & 1 & 8 & 15 \\
    23 & 5 & 7 & 14 & 16 \\
    4 & 6 & 13 & 20 & 22 \\
    10 & 12 & 19 & 21 & 3 \\
    11 & 18 & 25 & 2 & 9 \\
\end{bmatrix}
\end{align}
Знайти:

#### 7.1. Транспоновану: $A^{-1}$

```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [25]:
import numpy as np
import numpy.linalg as la

A = np.array([[17, 24, 1, 8, 15],
              [23, 5, 7, 14, 16],
              [4, 6, 13, 20, 22],
              [10, 12, 19, 21, 3],
              [11, 18, 25, 2, 9]])
inv_a = la.inv(A)
inv_a_T = inv_a.T
print(inv_a_T)

[[-0.0049359   0.04314103 -0.03025641  0.00467949  0.00275641]
 [ 0.05115385 -0.03730769  0.00307692 -0.00653846  0.005     ]
 [-0.03538462 -0.00461538  0.00307692  0.01076923  0.04153846]
 [ 0.00115385  0.01269231  0.00307692  0.04346154 -0.045     ]
 [ 0.00339744  0.00147436  0.03641026 -0.03698718  0.01108974]]

#### 7.2. Детермінант: $\det A$

```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [27]:
det_a = la.det(A)
print(det_a)

5070000.0

#### 7.3. Слід: $\DeclareMathOperator{\tr}{Tr}\tr A$
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [28]:
trace_a = np.trace(A)
print(trace_a)

65

#### 7.4. Доказати, що матриця А є магічним квадратом.
```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 5хв
```

In [39]:
sum_hor = np.apply_along_axis(np.sum, 1, A)
print(sum_hor)
sum_vert = np.apply_along_axis(np.sum, 0, A)
print(sum_ver)
main_diag_sum = np.trace(A)
print(main_diag_sum)

mirrored_A = np.array([row[::-1] for row in A])
side_diag_sum = np.trace(mirrored_A)
print(side_diag_sum)

[65 65 65 65 65]
[65 65 65 65 65]
65
65

Суми елементів у рядках, стовпцях, головній та побічній діагоналі однакові, тому матриця А є магічним квадратом за визначенням.

### Pandas

### 8. Розглянемо наступний словник ```data``` та список ```labels```:

In [40]:
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#### 8.1. Створіть ```DataFrame``` ```df``` з даних словника ```data``` з індексами зі списку ```labels```:
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [41]:
import pandas as pd
df = pd.DataFrame(data, index=labels)
df

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  2.0    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

#### 8.2. Відобрзіть базову інформацію про цей ```DataFrame``` та його дані:
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [45]:
print(df.info())
print(df.shape)
print(df.describe())
df

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
age         8 non-null float64
animal      10 non-null object
priority    10 non-null object
visits      10 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 280.0+ bytes
None
(10, 4)
            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  2.0    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

#### 8.3. Поверніть перші 3 рядки ```DataFrame``` ```df```:
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [47]:
df.head(3)

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2

#### 8.4. Виберіть стовпчики ```"animal"``` та ```"age"``` з ```DataFrame``` ```df```:
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [48]:
df[["animal", "age"]]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

#### 8.5 Виберіть дані з рядків ```[3, 4, 8]``` та стовпчиків ```['animal', 'age']```:
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [57]:
df.iloc[[3,4,8]].loc[:,["animal","age"]]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

#### 8.6. Виберіть лише ті рядки, в яких к-сть візитів більша ніж 3:
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [58]:
df[df.visits > 3]

Empty DataFrame
Columns: [age, animal, priority, visits]
Index: []

#### 8.7. Виберіть рядки, де вік відсутній, тобто ```NaN```:
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [61]:
df[pd.isnull(df.age)]

   age animal priority  visits
d  NaN    dog      yes       3
h  NaN    cat      yes       1

#### 8.8. Виберіть рядки з котами, вік яких менше ніж 3:
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [67]:
df[(df.animal == "cat") &  (df.age < 3)]

   age animal priority  visits
a  2.5    cat      yes       1
f  2.0    cat       no       3

#### 8.9. Підрахуйте середній вік для кожного з типів тварин:
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 4хв
```

In [70]:
df.groupby("animal").age.mean()

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

#### 8.10. Відсортуйте ```df``` по-перше за віком в спадаючому порядку, по-друге за к-стю візитів в зростаючому порядку:
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 4хв
```

#### 8.11. В ```'animal'``` ствобчику, змініть всіх ```'snake'``` на ```'python'```:
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 4хв
```

## Scipy & Matplotlib

### 9. За допомогою scipy згенерувати та за допомогою matplotlib побудувати вибірки, правильно підписавши осі та назвавши графік з обраними відповідними параметрами:

#### 9.1. Виібрку з нормально розподіленої випадкової величини:
```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 5хв
```

#### 9.2. Вибірку з розподілу Бернулі:
```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 5хв
```

#### 9.3. Вибірку з біноміального розподілу:
```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 5хв
```

#### 9.4. Вибірку з розподілу Пуассона:
```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 5хв
```